<!DOCTYPE html>
<html>
<head>
	<title>Jobs Scraped</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<header>
	  <div class="collapse bg-dark" id="navbarHeader">
	    <div class="container">
	      <div class="row">
	        <div class="col-sm-8 col-md-7 py-4">
	          <h4 class="text-white">Job Scraped</h4>
	          <p class="text-muted">Job Scraped From Jubilee insurance career job,  Cic Insurance Career page and career Monday banking, accounting and finance job.</p>
	        </div>
	        <div class="col-sm-4 offset-md-1 py-4">
	          <h4 class="text-white">Contact</h4>
	          <ul class="list-unstyled">
	            <li><a href="#" class="text-white">See Job Applied For</a></li>
	            <li><a href="#" class="text-white">Cic</a></li>
	            <li><a href="#" class="text-white">Jubilee</a></li>
	            <li><a href="#" class="text-white">Career Directions</a></li>
	          </ul>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="navbar navbar-dark bg-dark shadow-sm">
	    <div class="container d-flex justify-content-between">
	      <a href="/" class="navbar-brand d-flex align-items-center">
	        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
	        <strong>Jobs</strong>
	      </a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	    </div>
	  </div>
	</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      
      <p>
        <a href="/jubilee" class="btn btn-outline-primary my-2">Jubilee Jobs</a>
        <a href="/cic" class="btn btn-outline-primary my-2">Cic</a>
        <a href="/ga" class="btn btn-outline-primary my-2">GA</a>
        <a href="/kenindia" class="btn btn-outline-primary my-2">Kenindia</a>
        <a href="/heritage" class="btn btn-outline-primary my-2">Heritage</a>
        <br>
		<a href="/daystar" class="btn btn-outline-primary my-2">Daystar</a>
		<a href="/strath" class="btn btn-outline-primary my-2">Strathmore</a>
        <br>
        <a href="/accounting" class="btn btn-outline-primary my-2">Accounting</a>
        <a href="/banking" class="btn btn-outline-primary my-2">Banking</a>
        <a href="/ins" class="btn btn-outline-primary my-2">Insurance</a>
        <a href="/credit" class="btn btn-outline-primary my-2">Credit</a>
        <a href="/audit" class="btn btn-outline-primary my-2">Audit</a>
        <a href="/ngo" class="btn btn-outline-primary my-2">Ngo</a>
        <a href="/hr" class="btn btn-outline-primary my-2">HR</a>
        <br>
        <a href="/" class="btn btn-outline-secondary my-2">See All Jobs</a>
      </p>
    </div>
  </section>

  {{{body}}}

</main>

<footer class="text-muted">
  <div class="container-fluid">
  	<hr>
    <p class="float-right">
      <a href="#">Back to top | </a>
      <a href="/admin">Admin Area</a>
    </p>
    <p>My Jobs</p>
    
  </div>
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</html>